@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

:root {
    --container-color: rgb(0, 0, 0);
    --second-color: rgb(166, 77, 255);
    --text-color: rgb(0, 0, 0);
    --background-color: rgb(255, 255, 255);
}

::selection {
    color: var(--background-color);
    background: var(--second-color);
}

a{
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

section {
    padding: 3rem 0 2rem;
}

.container {
    max-width: 1068px;
    margin: auto; 
    width: 100%;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

header.shadow {
    background: var(--background-color);
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
    transition: 400ms;
}

header.shadow .logo {
    color: var(--text-color);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--background-color);
}

.logo span {
    color: var(--second-color);
}

.login {
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background: var(--second-color);
    color: var(--background-color);
}

.lo:hover {
    background: hsl(0, 100%, 49%);
    transition: 300ms;
}
